server:
  port: 9527

spring:
  application:
    name: cloud-gateway
  cloud:
    gateway:
      discovery:
        locator:
          enabled: true #开启从注册中心动态创建路由的功能，利用微服务名进行路由
      routes:
        - id: payment_routh #payment_route #路由的ID，没有固定规则，但要求唯一。建议配合服务名
#          uri: http://localhost:8001 #匹配后提供服务的路由地址，访问地址为：http://localhost:9527/payment/get/1
          uri: lb://CLOUD-PAYMENT-SERVICE
          predicates:
            - Path=/payment/get/** #断言，路径相匹配的进行路由

        - id: payment_routh2
#          uri: http://localhost:8001
          uri: lb://CLOUD-PAYMENT-SERVICE
          predicates:
            - Path=/payment/lb/**
#            - After=2021-07-17T17:09:03.168+08:00[Asia/Shanghai] #表明在这个时间之后生效
#            - Between=2021-07-17T17:09:03.168+08:00[Asia/Shanghai],2021-07-17T17:10:03.168+08:00[Asia/Shanghai] #表明在这个时间段内生效
#            - Cookie=username,nasuf #表明请求需要携带cookie: {username=nasuf}; 使用curl测试：curl http://localhost:9527/payment/lb --cookie "username=nasuf"
            - Header=X-Request-Id, \d+ #请求头要有X-Request-Id，且值为正数（正则表达式）; 使用curl测试：curl http://localhost:9527/payment/lb -H "X-Request-Id:123"


eureka:
  instance:
    hostname: cloud-gateway-service
  client:
    register-with-eureka: true
    fetch-registry: true
    service-url:
      defaultZone: http://eureka7001.com:7001/eureka